<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Maintenance</title>
  </head>
  <body>
    <h1>{{pageTitle}}</h1>
    <p>We're working. Go away.</p>

    {{> footer}}
  </body>
</html>
